.Rhistory
.Rproj.user/
cmcR.tex
cmcR_cache/
cmcR_files/
RJwrapper.tex
RJwrapper.log
data/fadul1-1.x3p
data/fadul1-2.x3p
data/fadul2-1.x3p
data/workspace6-2_oldResults_setSeed4132020.RData
derivatives/
